[submodule "/home/victor/git/elastic_cluster/ansible/roles/angstwad.docker_ubuntu"]
	path = /home/victor/git/elastic_cluster/ansible/roles/angstwad.docker_ubuntu
	url = https://github.com/angstwad/docker.ubuntu
